$font-family-01: 'Roboto', Helvetica, Arial, sans-serif;

// SIZE
$font-size-display-hg: 3rem; // 48px
$font-size-display-md: 2rem; // 32px
$font-size-display-sm: 1.5rem; // 24px

$font-size-h1: $font-size-display-md;
$font-size-h2: $font-size-display-sm;
$font-size-default: 1rem; // 16px
$font-size-paragraph: 0.875rem; // 14px
$font-size-mb-default: 0.75rem; // 12px

// OPACITY
$font-opacity-hg: .87;
$font-opacity-md: .54;
$font-opacity-sm: .38;

// WEIGHT
$font-weight-regular: 400;
$font-weight-bold: 700;
